<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097572227608-5fj6hp18cp1p7m5vcd8m3lakhn00ecrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097572227608-5fj6hp18cp1p7m5vcd8m3lakhn00ecrf</string>
	<key>API_KEY</key>
	<string>AIzaSyBdGnp3odzdlNQ3jVOebQLAIBG0YgZExQw</string>
	<key>GCM_SENDER_ID</key>
	<string>1097572227608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>proyectoinstrumentos-55c5b</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectoinstrumentos-55c5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097572227608:ios:6458cb89c4be39a228c16d</string>
</dict>
</plist>